<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Data</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>{{ application_count }}</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
            <tr>


                <td>{{ application.Mobile }}</td>
                <td>{{ application.Applicant_Name }}</td>
                <td>{{ application.State }}</td>
                <td>{{ application.Applicant_Name }}</td>
                <td>{{ application_count }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
